@import url("https://fonts.googleapis.com/css2?family=Martel:wght@400;800&family=Roboto:wght@300;400;500&display=swap");
/* Global styles */
.window-app {
  font-family: "Roboto", sans-serif;
}

.rollable:hover, .rollable:focus {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}

.clickable:hover, .clickable:focus {
  color: #000;
  text-shadow: 0 0 10px blue;
  cursor: pointer;
}

.grid {
  display: grid;
  gap: 3px;
  margin: 10px 0;
  padding: 0;
}

.grid-2col {
  grid-column: span 2 / span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid-span2col {
  grid-column-start: span 2;
}

.grid-2col-colflow {
  grid-row: span 2 / span 2;
  grid-template-rows: repeat(2, minmax(0, 1fr));
  grid-auto-flow: column;
}

.grid-3col {
  grid-column: span 3 / span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-3row {
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: auto auto auto;
  grid-auto-flow: column;
}

.grid-4col {
  grid-column: span 4 / span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-4row {
  grid-row: span 4 / span 4;
  grid-template-rows: repeat(4, minmax(0, 1fr));
  grid-auto-flow: column;
}

.grid-5col {
  grid-column: span 5 / span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  grid-column: span 5 / span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-7col {
  grid-column: span 7 / span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  grid-column: span 8 / span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  grid-column: span 9 / span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
  grid-column: span 10 / span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
  grid-column: span 11 / span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
  grid-column: span 12 / span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  padding: 5px;
/*  border: 1px solid #999; */
}

.flex-group-left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right;
}

.flex-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.flex-left {
  -webkit-box-align: left;
  -ms-flex-align: left;
  align-items: left;
  -webkit-box-pack: left;
  -ms-flex-pack: left;
  justify-content: left;
  text-align: left;
}

.flex-right {
  -webkit-box-align: right;
  -ms-flex-align: right;
  align-items: right;
  -webkit-box-pack: right;
  -ms-flex-pack: right;
  justify-content: right;
  text-align: right;
}

.flex-between {
  -webkit-box-pack: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
}

.flex-evenly {
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

/* Styles limited to trinity sheets */
.trinity .item-form {
  font-family: "Roboto", sans-serif;
}

.trinity .sheet-header {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-bottom: 5px;
}

.trinity .sheet-header .profile-img .token-img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  height: 50px;
  margin-right: 10px;
}

.trinity .sheet-header .header-fields {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.trinity .sheet-header h1.charname {
  height: 50px;
  padding: 0px;
  margin: 5px 0;
  border-bottom: 0;
}

.trinity .sheet-header h1.charname input {
  width: 100%;
  height: 100%;
  margin: 0;
}

.trinity .sheet-tabs {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
}

.trinity .sheet-body,
.trinity .sheet-body .tab,
.trinity .sheet-body .tab .editor {
  height: 100%;
}

.trinity .tox .tox-editor-container {
  background: #fff;
}

.trinity .tox .tox-edit-area {
  padding: 0 8px;
}

.trinity .resource-label {
  font-weight: bold;
  text-transform: uppercase;
}

.trinity .tabs {
  height: 40px;
  border-top: 0px solid #AAA;
  border-bottom: 1px solid #AAA;
}

.trinity .tabs .item {
  line-height: 40px;
  font-weight: bold;
}

.trinity .tabs .item.active {
  text-decoration: underline;
  text-shadow: none;
}

.trinity .items-list {
  list-style: none;
  margin: 7px 0;
  padding: 1;
  overflow-y: auto;
}

.trinity .items-list .item-header {
  font-weight: bold;
}

.trinity .items-list .item {
  height: 30px;
  line-height: 24px;
  padding: 3px 0;
  border-bottom: 1px solid #BBB;
}

.trinity .items-list .item .item-image {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 24px;
  flex: 0 0 24px;
  margin-right: 5px;
}

.item-dots {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  margin-right: 5px;
  justify-content: flex-end;
}

.trinity .items-list .item img {
  display: block;
}

.trinity .items-list .item-name {
  margin: 0;
}

.trinity .items-list .item-controls {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 86px;
  /* flex: 0 0 86px; */
  flex: none;
  text-align: right;
}

/* ---------------------------------------- */
/* Custom for Trinity (Non-Boilerplate)     */
/* ---------------------------------------- */

.flex-group-center-i,
.flex-group-left-i,
.flex-group-right-i {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  padding: 5px;
  border: 1px transparent #999;
}

.flex-group-left-i {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right-i {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right;
}

.big {
  font-size: large;
}

.xx-large {
  font-size: xx-large;
}

.small {
  font-size: small;
}

.min-content {
  width: -moz-min-content;
  width: min-content;
}

.boxed {
  overflow:hidden;
  padding:5px;
  background-color:rgba(200, 200, 200, 0.4);
  border:1px solid gray;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  margin: 2px;
}

.icons {
  letter-spacing: 3px;
}

.small-note {
  font-size: small;
  font-style: italic;
}

/* Collapsible CSS */
.collapsible {
  background-color: LightSteelBlue;
  color: #444;
  cursor: pointer;
  padding: 5px;
  width: 100%;
  border:1px solid gray;
  text-align: left;
  outline: none;
  font-size: 15px;
  border-radius: 10px 10px 10px 10px;
  margin: 5px 0px;
  /* Adding to try to fix display none issue */
  /* display: block; */
}

.collapsible-active {
  border-radius: 10px 10px 0px 0px;
  margin: 5px 0px 0px;
}

.collapsible-active, .collapsible:hover {
  background-color: LightSkyBlue;
}

.collapsible-content {
  /* padding: 5px 15px; */
  /* background-color: white; */
  /* max-height: 0; */
  display: none;
  /* overflow: hidden; */
  /* transition: max-height 0.2s ease-out; */
  margin: 0px
  /* border-radius: 0px 0px 10px 10px;
  border:1px solid gray; */
}

.collapsible-content-active {
  border-radius: 0px 0px 10px 10px;
  border:1px solid gray;
  padding: 5px 15px 15px;
  margin: 0px 0px 5px;
  display: block;
}

.collapsible:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

.collapsible-active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.fit {
  width : fit-content;
}

.lowmargin {
  margin: 2px;
}

.grid-flow-column {
  grid-auto-flow: column;
}

.right-vcenter {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}

.right {
  display: flex;
  justify-content: flex-end;
}

/* Use this for a container */
.left-vcenter {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.left {
  display: flex;
  justify-content: flex-start;
}

.trait {
  font-weight: bold;
  text-transform: uppercase;
  overflow:hidden;
  padding:5px;
  background-color: rgba(255, 200, 200, 0.4);
  border:1px solid darkRed;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin: 2px;
}

.flex-parent {
  display: flex;
  flex-flow: row wrap;
  margin: 3px;
}

.flex-parent-center-column {
  display: flex;
  flex-flow: column nowrap;
  margin: 3px;
  align-items: center;
  width: 100%;
}

.flex-parent-evenly {
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  margin: 3px;
  width: 100%;
}

.flex-parent-between {
  display: flex;
  -webkit-box-pack: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
  margin: 3px;
  width: 100%;
}

.flex-valign {
  display: flex;
  align-items: center;
}

.center-text {
  text-align: center;
}

.flex-child {
  flex: auto;
  margin: 3px;
}

.flex-child-even {
  flex: 1;
  margin: 3px;
}

.flex-child-full {
  flex: 1 1 auto;
  margin: 3px;
}

.flex-child-fit {
  flex: 1 0px;
  margin: 3px;
}

.flex-child-center {
  flex: auto;
  margin: 3px;
  text-align: center;
}

input.flex-child-center {
  flex: auto;
  margin: 3px;
  text-align: center;
}

input.narrow-input {
  width: 50px;
  margin: 3px;
  text-align: center;
}

input[type=radio].hidden-input {
  opacity: 0;
  position: absolute;
}

input[type=radio].hidden-input:focus + label {
  outline: rgba(77, 97, 171, 0.5) auto 3px;
}

.bio-image {
  max-width: 150px;
  object-fit: contain;
  margin-right: 10px;
  border:0px solid black;
}

.bold {
  font-weight: bold;
}

.small-trait {
  font-size: x-small;
  overflow: hidden;
  padding: 1px 3px;
  background-color: rgba(255, 200, 200, 0.5);
  border: 1px solid darkRed;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  margin: 2px;
  font-weight: bold;
}

.button-on {
  color: #000;
  text-shadow: 0 0 10px blue;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  /* border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  top: -5px;
  left: 105%;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.min-height {
  min-height: 150px;
}

.bottom {
  display: table-cell;
  vertical-align: bottom;
  height: 150px;
}
