{{log "MyPickerItem" this}}
<form class="{{cssClass}} flexcol" autocomplete="off">
  <section class="sheet-body">
    <div class="attributes grid grid-3col">
      {{#each this.actor.data.data.attributes as |attribute key|}}
        <div class="attribute flexrow flex-group-center clickable" id="{{key}}">
          <label for="data.attributes.{{key}}" class="resource-label " data-attrname="{{attribute.name}}">
            {{attribute.name}}
          </label>
          <input type="radio" name="data.attributes.{{key}}" value="{{attribute.name}}" data-dtype="Number"/>
        </div>
      {{/each}}
    </div>
  </section>
</form>
