<form class="{{cssClass}} flexcol" autocomplete="off">
  <section class="sheet-body">
    <div class="items grid grid-1col">
      {{#each this.items as |item key|}}
        <div class="item flexrow flex-group-center" id="{{key}}">
          <label for="{{item.data._id}}" class="resource-label" data-skilname="{{item.data.name}}">
            <table>
              <tr>
                <td rowspan="2">{{item.data.data.enhancement.value}}</td>
                <td>{{item.name}}</td>
              </tr>
              <tr>
                <td>{{item.data.data.enhancement.relevance}}</td>
              </tr>
            </table>
          </label>
          <input type="checkbox" id="{{item.data._id}}" class="input" name="enha" value="{{item.data.name}}">
        </div>
      {{else}}
        No Eligible Items Found.
      {{/each}}
    </div>
  </section>
</form>
