<div class="flex-parent-wide-noflow boxed select-item" id="{{item.id}}">
  <div class="flex-child-fit flex-valign left large">
    {{item.value}}<span class="small">{{#if item.isDice}}<i class="fas fa-circle"></i>{{else}}<i class="fas fa-hashtag"></i>{{/if}}</span>
  </div>
  <div class="flex-child-full flex-parent-column">
    <div class="flex-child-full">
      {{item.name}}
    </div>
    <div class="flex-child-full small-note">
      {{item.note}}
    </div>
  <div class="flex-child-fit flex-valign right remove clickable" id="{{item.id}}">
    <i class="far fa-minus-square"></i>
  </div>
  </div>
</div>
