<div id="overlay" class="overlay">
  <div class="flex-parent-center-column">
    <div class="nav flex-child flex-parent-wide">
      <i class="xx-large fas fa-arrow-alt-circle-left back flex-valign"></i>
      <div class="flex-child flex-valign back">Back to Roll Options</div>
    </div>
    <div class="grid grid-2col align-content-start" style="height: 350px; overflow-x: hidden; overflow-y: auto;">
      <div class="grid-span2col flex-parent-wide-noflow boxed low-margin-padding" id="CustomItem">
        <div class="flex-child-fit flex-parent-column low-margin-padding">
          <div class="flex-valign left x-large low-margin-padding">
            <input type="number" name="CustomValue" value="0">
          </div>
        </div>
        <div class="flex-child-full flex-parent-column">
          <div class="flex-child-full">
            <input type="text" name="CustomName" value="CustomNameValue">
          </div>
        </div>
        <div class="flex-child-fit flex-valign right add-custom clickable" id="addCustom">
          <i class="far fa-plus-square"></i>
        </div>
      </div>
      {{#unless this.itemList}}<div class="grid-span2col"><center>No options of this type found.</center></div>{{/unless}}
      {{#each this.itemList as |item key|}}
        <div class="flex-parent-wide-noflow boxed low-margin-padding select-item" id="{{item.id}}">
          <div class="flex-child-fit flex-parent-column low-margin-padding">
            <div class="flex-valign left x-large low-margin-padding">
              {{#if item.data.data.flags.isEnhancement}}{{item.data.data.enhancement.value}}{{else}}{{item.data.data.value}}{{/if}}<span class="small">{{#if item.data.data.flags.isEnhancement}}<i class="fas fa-hashtag"></i>{{else}}<i class="fas fa-circle"></i>{{/if}}</span>
            </div>
          </div>
          <div class="flex-child-full flex-parent-column">
            <div class="flex-child-full">
              {{item.name}}
            </div>
            <div class="flex-child-full small-note">
              {{#if item.data.data.flags.isEnhancement}}{{item.data.data.enhancement.relevance}}{{/if}}
              {{#if item.data.data.flags.isMain}}{{item.data.data.arena}} / {{item.data.data.approach}}{{/if}}
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</div>
