<div id="overlay" class="overlay">
  <div class="flex-parent-center-column">
    <div class="nav flex-child flex-parent-wide">
      <i class="xx-large fas fa-arrow-alt-circle-left back flex-valign"></i>
      <div class="flex-child-full flex-valign back">Back to Roll Options</div>
    </div>
    <div class="flex-child-full" style="height: 450px; overflow: auto;">
      {{#if !this.itemList}}No options of this type found.{{/if}}
      {{#each this.itemList as |item key|}}
        <div class="flex-parent-wide boxed" id="{{item.id}}">
          <div class="xx-large">
            {{item.data.data.value}}{{#if item.data.data.flags.isEnhancement}}e{{else}}d{{/if}}
          </div>
          <div class="flex-child-full flex-parent-column">
            <div class="flex-child-full big">
              {{item.name}}
            </div>
            <div class="flex-child-full small-note">
              {{item.id}}
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</div>
