{{! Complication Box }}
<div class="boxed fit">
  <div class="left-vcenter">
    <input class="left-vcenter" type="checkbox" name="data.flags.isComplication" value="{{data.flags.isComplication}}" data-dtype="Boolean" {{checked data.flags.isComplication}}/>
    <label class="resource-label left-vcenter" for="data.flags.isComplication">Complication</label>
  </div>
  {{#if data.flags.isComplication}}
  <hr>
  <div>
    <label class="resource-label" for="complication-value">Complication Value</label>
    <input class="resource" type="text" id="complication-value" name="data.complication.value" value="{{data.complication.value}}" data-dtype="Number"/>
  </div>
  <div>
    <label class="resource-label" for="complication-condition">Complication Condition</label>
    <input class="resource" type="text" id="complication-condition" name="data.complication.relevance" value="{{data.complication.relevance}}" data-dtype="String"/>
  </div>
  {{/if}}
</div>
