{{! Enhancement Box }}
<div class="boxed fit">
  <div class="left-vcenter">
    <input class="left-vcenter" type="checkbox" name="data.flags.isGear" value="{{data.flags.isGear}}" data-dtype="Boolean" {{checked data.flags.isGear}}/>
    <label class="resource-label left-vcenter" for="data.flags.isGear">Gear</label>
  </div>
  <div class="left-vcenter">
    <input class="left-vcenter" type="checkbox" name="data.flags.isWeapon" value="{{data.flags.isWeapon}}" data-dtype="Boolean" {{checked data.flags.isWeapon}}/>
    <label class="resource-label left-vcenter" for="data.flags.isWeapon">Weapon</label>
  </div>
  <div class="left-vcenter">
    <input class="left-vcenter" type="checkbox" name="data.flags.isArmor" value="{{data.flags.isArmor}}" data-dtype="Boolean" {{checked data.flags.isArmor}}/>
    <label class="resource-label left-vcenter" for="data.flags.isArmor">Armor</label>
  </div>
  <div class="left-vcenter">
    <input class="left-vcenter" type="checkbox" name="data.flags.isVehicle" value="{{data.flags.isVehicle}}" data-dtype="Boolean" {{checked data.flags.isVehicle}}/>
    <label class="resource-label left-vcenter" for="data.flags.isVehicle">Vehicle</label>
  </div>
</div>
