<div class="flex-parent-nowrap">

  {{#if (isEqual item.data.type "stunt") }}
      <label class="flex-fit flex-valign resource-label" for="stunt-cost">Stunt Cost:</label>
      <input class="flex-valign short-input resource" type="text" id="stunt-cost" name="data.costDescription" value="{{data.data.costDescription}}" data-dtype="String"/>
  {{/if}}

  {{#if (isEqual item.data.type "action") }}
  {{/if}}

  {{#if (isEqual item.data.type "equipment") }}
    <label class="flex-fit flex-valign resource-label" for="enhancement-value">Enhancement Value</label>
    <i class="clickable sub-value large flex-valign fas fa-minus-circle" data-target="data.enhancement.value"></i>
    <input class="flex-valign short-input resource" type="number" min="0" step="1" onfocus="this.previousValue = this.value" onkeydown="this.previousValue = this.value" oninput="validity.valid || (value = this.previousValue)" id="enhancement-value" name="data.enhancement.value" value="{{data.data.enhancement.value}}" data-dtype="Number"/>
    <i class="clickable add-value large flex-valign fas fa-plus-circle" data-target="data.enhancement.value"></i>
    <div class="flex-child flex-right resource-label">
      {{item.data.data.totalTagValue}} Tag Points
    </div>
  {{/if}}

  {{#if (isEqual item.data.type "tag") }}
    <label class="flex-fit flex-valign resource-label" for="tag-value">Tag Value:</label>
    <i class="clickable sub-value large flex-valign fas fa-minus-circle" data-target="data.tagValue"></i>
    <input
        class="flex-valign short-input resource"
        type="number"
        min="-10"
        max="10"
        step="1"
        onfocus="this.previousValue = this.value"
        onkeydown="this.previousValue = this.value"
        oninput="validity.valid || (value = this.previousValue)"
        id="tag-value"
        name="data.tagValue"
        value="{{data.data.tagValue}}"
        data-dtype="Number"/>
    <i class="clickable add-value large flex-valign fas fa-plus-circle" data-target="data.tagValue"></i>
  {{/if}}

  {{#if item.data.data.flags.hasDots }}
    <label class="flex-fit flex-valign resource-label" for="dot-value">Dot Value:</label>
    <i class="clickable sub-value large flex-valign fas fa-minus-circle" data-target="data.value"></i>
    <input class="flex-valign short-input resource" type="number" min="0" step="1" onfocus="this.previousValue = this.value" onkeydown="this.previousValue = this.value" oninput="validity.valid || (value = this.previousValue)" id="dot-value" name="data.value" value="{{data.data.value}}" data-dtype="Number"/>
    <i class="clickable add-value large flex-valign fas fa-plus-circle" data-target="data.value"></i>
  {{/if}}

  {{#if (isEqual item.data.type "specialty") }}
    <label class="flex-fit flex-valign resource-label" for="enhancement-condition">Enhancement Condition</label>
    <input class="flex-valign short-input resource" type="text" id="enhancement-condition" name="data.enhancement.relevance" value="{{data.data.enhancement.relevance}}" data-dtype="String"/>
  {{/if}}

</div>
