{{! Stunt Data }}
<div class="boxed fit">
  <div class="left-vcenter">
    <div class="resource-label left-vcenter">Stunt Details</div>
  </div>
  <hr>
  <div>
    <label class="resource-label" for="stunt-type">Stunt Type</label>
    <input class="resource" type="text" id="stunt-type" name="data.stuntType" value="{{data.data.stuntType}}" data-dtype="String"/>
  </div>
  <div>
    <label class="resource-label" for="stunt-cost">Stunt Cost</label>
    <input class="resource" type="text" id="stunt-cost" name="data.costDescription" value="{{data.data.costDescription}}" data-dtype="String"/>
  </div>
</div>
