{{log "roll-form.html logging, this:" this}}
<form class="roll-form">
  {{> "systems/trinity/templates/roll/partials/roll-overlay.html"}}
  <section class="sheet-body" style="margin: 5px;">
    <div class="">
      <div class="top-section">
        <div class="grid grid-2col">
          <button type="button" id="attribute" class="selector">Attributes <i class="fas fa-dice"></i></button>
          <button type="button" id="skill" class="selector">Skills <i class="fas fa-dice"></i></button>
          {{#if this.actor.data.data.flags.isNova}}
          <button type="button" id="Quantum" class="selector">Quantum <i class="fas fa-dice"></i></button>
          <button type="button" id="quantumPower" class="selector">Powers <i class="fas fa-dice"></i></button>
          {{/if}}
          {{#if this.actor.data.data.flags.isPsion}}
          <button type="button" id="Psi" class="selector">Psi <i class="fas fa-dice"></i></button>
          <button type="button" id="mode" class="selector">Mode <i class="fas fa-dice"></i></button>
          {{/if}}
          {{#if this.actor.data.data.flags.isOther}}
          <button type="button" id="Source" class="selector">Source <i class="fas fa-dice"></i></button>
          <button type="button" id="power" class="selector">Powers <i class="fas fa-dice"></i></button>
          {{/if}}
          {{#if this.actor.data.data.flags.isMage}}
          <button type="button" id="Quantum" class="selector">Arete <i class="fas fa-dice"></i></button>
          <button type="button" id="quantumPower" class="selector">Spheres <i class="fas fa-dice"></i></button>
          {{/if}}
          <button type="button" id="enhancement" class="grid-span2col selector">Enhancements <i class="fas fa-hashtag"></i></button>
        </div>
      </div>
      <div class="middle-section">
        <div class="roll-items-area">
          {{#each this.rollData.items as |item key|}}
          {{#if item.isDice}}
            <div class="flex-parent-wide-noflow boxed low-margin-padding">
              <div class="flex-child-fit flex-parent-column low-margin-padding">
                <div class="flex-valign left x-large low-margin-padding">{{item.value}}<span class="small"><i class="fas fa-circle"></i></span></div>
                {{{mult item.multiplier}}}
              </div>
              <div class="flex-child-full flex-parent-column">
                <div class="flex-child-full">
                  {{item.name}}
                </div>
                <div class="flex-child-full small-note">
                  {{item.note}}
                </div>
              </div>
              <div class="flex-child-fit flex-valign right remove clickable" id="{{item.id}}">
                <i class="far fa-minus-square"></i>
              </div>
            </div>
          {{/if}}
          {{/each}}
          {{#each this.rollData.items as |item key|}}
          {{#unless item.isDice}}
            <div class="flex-parent-wide-noflow boxed low-margin-padding">
              <div class="flex-child-fit flex-parent-column low-margin-padding">
                <div class="flex-valign left x-large low-margin-padding">{{item.value}}<span class="small"><i class="fas fa-hashtag"></i></span></div>
                {{{mult item.multiplier}}}
              </div>
              <div class="flex-child-full flex-parent-column">
                <div class="flex-child-full">
                  {{item.name}}
                </div>
                <div class="flex-child-full small-note">
                  {{item.note}}
                </div>
              </div>
              <div class="flex-child-fit flex-valign right remove clickable" id="{{item.id}}">
                <i class="far fa-minus-square"></i>
              </div>
            </div>
          {{/unless}}
          {{/each}}
        </div>
        {{!-- Roll button --}}
        <button type="button" id="roll" class="roll-button" style="line-height: 1.2em;">
          Roll {{~#if this.saved}} "{{this.rollData.name}}"{{~/if~}}<br><b>{{this.rollData.diceTotal}}</b><i class="small fas fa-dice"></i> + <b>{{this.rollData.enhaTotal}}</b><i class="small fas fa-hashtag"></i>
        </button>
      </div>
      <div class="bottom-section">
        <div class="flexrow">
          <button type="button" id="showOptions" class="showOptions">Options <i class="fas fa-cog"></i></button>
          {{#if this.saved}}<button type="button" id="save" class="save">Save <i class="fas fa-save"></i></button>{{/if}}
          <button type="button" id="save-as" class="save-as">Save As <i class="fas fa-save"></i></button>
        </div>
        <div class="grid grid-4col center-text options" id="options" style="display:none;">
          <div class="">
            <label class="center-text small-note" for="succ" id="succ-label">
              Success
            </label><br>
            <input class="narrow-input setting" type="number" id="succ" name="object.settings.succ" value="{{rollData.settings.succ}}" data-dtype="Number"/>
          </div>
          <div class="">
            <label class="center-text small-note" for="expl" id="expl-label">
              Explode
            </label><br>
            <input class="narrow-input setting" type="number" id="expl" name="object.settings.expl" value="{{rollData.settings.expl}}" data-dtype="Number"/>
          </div>
          <div class="">
            <label class="center-text small-note" for="nsca" id="nsca-label">
              N. Scale
            </label><br>
            <input class="narrow-input setting" type="number" id="nsca" name="object.settings.nsca" value="{{rollData.settings.nsca}}" data-dtype="Number"/>
          </div>
          <div class="">
            <label class="center-text small-note" for="dsca" id="dsca-label">
              D. Scale
            </label><br>
            <input class="narrow-input setting" type="number" id="dsca" name="object.settings.dsca" value="{{rollData.settings.dsca}}" data-dtype="Number"/>
          </div>
        </div>
      </div>
    </div>
  </section>
</form>
