<form class="{{cssClass}}">
  <div id="overlay">
    <i class="big fas fa-arrow-alt-circle-left back"></i>
    <div>Selector Screen</div>
  </div>
  <section class="sheet-body">
    <div class="">
      <div class="top-section">
        <div class="grid grid-2col">
          <button type="button" id="attributes" class="selector">Attributes <i class="fas fa-dice"></i></button>
          <button type="button" id="skills" class="selector">Skills <i class="fas fa-dice"></i></button>
          <button type="button" id="quantum" class="selector">Quantum <i class="fas fa-dice"></i></button>
          <button type="button" id="Power" class="selector">Power <i class="fas fa-dice"></i></button>
        </div>
      </div>
      <div class="middle-section">
        <div class="min-height">
          Selected Die Pool Area
        </div>
        {{!-- Roll button --}}
        <button type="button" id="roll" class="roll-button">Roll Xd+Ye</button>
        <div class="min-height bottom">
          Selected Enhancement Area
        </div>
      </div>
      <div class="bottom-section">
        <div class="grid grid-2col">
          <button type="button" id="enhancements" class="grid-span2col selector">Enhancements <i class="fas fa-hashtag"></i></button>
          <button type="button" id="options" class="">Options <i class="fas fa-caret-down"></i></button>
          <button type="button" id="save" class="">Save <i class="fas fa-save"></i></button>
        </div>
        <div class="grid grid-4col center-text">
          <div class="">
            <label class="small-note" for="succ" id="succ-label">
              Success
            </label><br>
            <input class="narrow-input" type="number" id="succ" value="{{this.elements.succ.value}}" data-dtype="Number"/>
          </div>
          <div class="">
            <label class="small-note" for="expl" id="expl-label">
              Explode
            </label><br>
            <input class="narrow-input" type="number" id="expl" value="{{this.elements.expl.value}}" data-dtype="Number"/>
          </div>
          <div class="">
            <label class="center-text small-note" for="nsca" id="nsca-label">
              N. Scale
            </label><br>
            <input class="narrow-input" type="number" id="nsca" value="{{this.elements.nsca.value}}" data-dtype="Number"/>
          </div>
          <div class="">
            <label class="center-text small-note" for="dsca" id="dsca-label">
              D. Scale
            </label><br>
            <input class="narrow-input" type="number" id="dsca" value="{{this.elements.dsca.value}}" data-dtype="Number"/>
          </div>
        </div>
      </div>
    </div>
  </section>
</form>
