{{log "roll-form.html logging, this:" this}}
<form class="{{cssClass}}">
  {{> "systems/trinity/templates/roll/partials/roll-overlay.html"}}
  <section class="sheet-body">
    <div class="">
      <div class="top-section">
        <div class="grid grid-2col">
          <button type="button" id="attribute" class="selector">Attributes <i class="fas fa-dice"></i></button>
          <button type="button" id="skill" class="selector">Skills <i class="fas fa-dice"></i></button>
          <button type="button" id="Quantum" class="selector">Quantum <i class="fas fa-dice"></i></button>
          <button type="button" id="quantumPower" class="selector">Powers <i class="fas fa-dice"></i></button>
        </div>
      </div>
      <div class="middle-section">
        <div class="min-height">
          Selected Die Pool Area
          {{#each this.rollData.dice as |item key|}}
          test each 1
          {{> "systems/trinity/templates/roll/partials/item-box.html"}}
          {{/each}}
        </div>
        {{!-- Roll button --}}
        <button type="button" id="roll" class="roll-button">Roll {{this.rollData.diceTotal}}d+{{this.rollData.enhaTotal}}e</button>
        <div class="min-height bottom">
          Selected Enhancement Area
          {{#each this.rollData.enha as |item key|}}
          {{> "systems/trinity/templates/roll/partials/item-box.html"}}
          {{/each}}
        </div>
      </div>
      <div class="bottom-section">
        <div class="grid grid-2col">
          <button type="button" id="enhancement" class="grid-span2col selector">Enhancements <i class="fas fa-hashtag"></i></button>
          <button type="button" id="showOptions" class="showOptions">Options <i class="fas fa-cog"></i></button>
          <button type="button" id="save" class="">Save <i class="fas fa-save"></i></button>
        </div>
        <div class="grid grid-4col center-text options" id="options" style="display:none;">
          <div class="">
            <label class="small-note" for="succ" id="succ-label">
              Success
            </label><br>
            <input class="narrow-input" type="number" id="succ" name="rollData.settings.succ" value="{{rollData.settings.succ}}" data-dtype="Number"/>
          </div>
          <div class="">
            <label class="small-note" for="expl" id="expl-label">
              Explode
            </label><br>
            <input class="narrow-input" type="number" id="expl" name="rollData.settings.expl" value="{{rollData.settings.expl}}" data-dtype="Number"/>
          </div>
          <div class="">
            <label class="center-text small-note" for="nsca" id="nsca-label">
              N. Scale
            </label><br>
            <input class="narrow-input" type="number" id="nsca" name="rollData.settings.nsca" value="{{rollData.settings.nsca}}" data-dtype="Number"/>
          </div>
          <div class="">
            <label class="center-text small-note" for="dsca" id="dsca-label">
              D. Scale
            </label><br>
            <input class="narrow-input" type="number" id="dsca" name="rollData.settings.dsca" value="{{rollData.settings.dsca}}" data-dtype="Number"/>
          </div>
        </div>
      </div>
    </div>
  </section>
</form>
