{{!-- Action item Box --}}
<ol class="items-list boxed">
  <li class="item sub flexrow item-header">
    <div class="flex-fit big item-name">Actions</div>
    <div class="flex-right title-note">Select Action to See Stunts</div>
    </li>

  {{#each actor.actions as |item id|}}
  <li class="item sub">
    <div class="flexrow" data-item-id="{{item.id}}">
      <i class="flex-fit far fa-caret-square-down show-detail clickable"></i>
      <h4 class="item-name item-edit clickable">
        {{item.name}}
        </h4>
      <div>
        {{#if item.data.flags.hasRoll}}{{{createChip item._id ../actor}}}{{/if}}
        </div>
      <!-- <div class="item-dots small icons rollable" id="{{item._id}}">{{#if item.data.flags.hasDots}}{{{toDots item.data.value}}}{{/if}}</div> -->
      <div class="item-controls">
        <a class="item-control item-chat" title="Output Description to Chat"><i class="far fa-comment-dots"></i></a>
        <a class="item-control item-delete" title="Delete Item"><i class="far fa-minus-square"></i></a>
        </div>
      </div>
    <div class="flexrow sub-item-detail hidden">
      {{#each item.data.data.subItems as |subItem id|}}
      <div class="boxed">
        <div><b>{{subItem.name}}</b>&ensp;-&ensp;<em>{{subItem.costDescription}}</em></div>
        <div>{{{subItem.description}}}</div>
        </div>
      {{/each}}
      </div>
    </li>
  {{/each}}


  </ol>
