{{!-- Defense Partial --}}
<div class="boxed lowmargin">
  <div class="flexrow bold">
    <div class="flex-valign flex-fit">
      Base Defense:&ensp;
    </div>
    <div class="big bold can-hide">
      {{this.actor.data.data.defense.value}}
    </div>
    <div class="flex-parent-nowrap-center edit-area can-hide hidden">
      <i class="clickable sub-value large flex-valign fas fa-minus-circle" data-target="data.defense.value"></i>
      <input class="flex-valign short-input resource" type="number" min="0" step="1" onfocus="this.previousValue = this.value" onkeydown="this.previousValue = this.value" oninput="validity.valid || (value = this.previousValue)" id="Defense-value" name="data.defense.value" value="{{data.data.defense.value}}" data-dtype="Number"/>
      <i class="clickable add-value large flex-valign fas fa-plus-circle" data-target="data.defense.value"></i>
    </div>
  </div>
  <div class="small-note">
    See "Actions" for defensive options.
  </div>
</div>
