{{!-- Facets --}}

<div class="facets boxed">
  <div class="flex-parent-center-column resource-label">Facets</div>
  {{#each this.actor.data.data.facets as |facet key|}}
  <div class="grid grid-2col lowmargin" id="{{key}}">
    <div class="bold right-vcenter">{{facet.name}}</div>
    <div class="icons left-vcenter">{{{toDots facet.value}}}</div>
  </div>
  {{/each}}
  <hr>
  <div class="flex-parent">
    <label class="flex-child" for="moment">Moment of Inspiration:</label>
      <input class="flex-child" id="moment" name="data.moment" type="text" value="{{actor.data.data.moment}}"/>
  </div>
</div>
