{{!-- Full Data --}}
FULL DATA - Debug / Edit
{{log "full-data logging, this:" this}}
{{!-- Get values from actor, input names from data? --}}

{{!-- Biographical Info --}}
<h2>Biographical Info</h2>
<label for="fd-name" class="resource-label"> Name: </label>
  <input class="duplicate" id="fd-name" name="name" type="text" value="{{actor.name}}"/>

<label for="fd-player" class="resource-label"> Player: </label>
  <input id="fd-player" name="data.player" type="text" value="{{actor.data.player}}"/>

<label for="fd-concept" class="resource-label"> Concept: </label>
  <input id="fd-concept" name="data.concept" type="text" value="{{actor.data.concept}}"/>

{{!-- Paths --}}
<h2>Paths</h2>

{{!-- Skills --}}
<h2>Skills</h2>


{{!-- Attributes --}}
<h2>Attributes</h2>
{{#each data.attributes as |attribute key|}}
  <div class="attribute flexrow flex-group-center">
    <label for="fd-{{key}}" class="resource-label rollable"> {{attribute.name}} </label>
    <input class="duplicate" type="text" id="fd-{{key}}" name="data.attributes.{{key}}.value" value="{{attribute.value}}" data-dtype="Number" readonly />
  </div>
{{/each}}


{{!-- Health --}}
<h2>Health Boxes</h2>


{{!-- Flags --}}
<h2>Flags</h2>
<label for="fd-isTalent" class="resource-label"> Talent: </label>
  <input type="checkbox" id="fd-isTalent" name="data.flags.isTalent" value="{{actor.data.flags.isTalent}}" data-dtype="Boolean" {{checked this.data.flags.isTalent}}/>


{{!-- Talent Powers / Stats --}}
{{#if actor.data.flags.isTalent}}
<h2>Talent Powers</h2>
<label for="fd-moment" class="resource-label"> Moment of Inspiration: </label>
  <input id="fd-moment" name="data.talent.moment" type="text" value="{{actor.data.talent.moment}}"/>

<h3>Facets:</h3>
{{#each data.talent.facets as |facet key|}}
  <div class="facet flexrow flex-group-center">
    <label for="fd-{{key}}" class="resource-label rollable"> {{facet.name}} </label>
    <input type="text" id="fd-{{key}}" name="data.talent.facets.{{key}}.value" value="{{facet.value}}" data-dtype="Number"/>
  </div>
{{/each}}

<h3>Inspiration:</h3>
<div class="inspiration flexrow flex-group-center">
  <label for="fd-inspiration-max" class="resource-label rollable"> Max: </label>
  <input type="text" id="fd-inspiration-max" name="data.talent.inspiration.max" value="{{actor.data.talent.inspiration.max}}" data-dtype="Number"/>
</div>
<div class="inspiration flexrow flex-group-center">
  <label for="fd-inspiration-value" class="resource-label rollable"> Current: </label>
  <input type="text" id="fd-inspiration-value" name="data.talent.inspiration.value" value="{{actor.data.talent.inspiration.value}}" data-dtype="Number"/>
</div>
{{/if}}


{{!-- Gifts --}}
{{#if actor.data.flags.isTalent}}
<h2>Gifts</h2>
Attributes
{{/if}}


{{!-- Edges --}}
<h2>Edges</h2>


{{!-- Specialties --}}
<h2>Specialties</h2>


{{!-- Skill Tricks --}}
<h2>Skill Tricks</h2>


{{!-- Contacts --}}
<h2>Contacts</h2>


{{!-- Bonds --}}
<h2>Bonds</h2>


{{!-- Effects --}}
<h2>Effects</h2>


{{!-- Gear --}}
<h2>Attributes</h2>


{{!-- Armor --}}
<h2>Armor</h2>


{{!-- Weapons --}}
<h2>Weapons</h2>


{{!-- Vehicles --}}
<h2>Vehicles</h2>
