{{log "Healthboxes logging, this:" this}}

<h2>Healthboxes</h2>
<div class="boxed flexcol fit">
  <div class="grid grid-2col clickable bruised">
    <div class="resource-label">Bruised </div>
    <div class="big icons">{{{toHealthBoxes actor.healthBoxes.bruised}}}</div>
  </div>
  <div class="grid grid-2col clickable injured">
    <div class="resource-label">Injured </div>
    <div class="big icons">{{{toHealthBoxes actor.healthBoxes.injured}}}</div>
  </div>
  <div class="grid grid-2col clickable maimed">
    <div class="resource-label">Maimed </div>
    <div class="big icons">{{{toHealthBoxes actor.healthBoxes.maimed}}}</div>
  </div>
  <div class="grid grid-2col clickable takenOut">
    <div class="resource-label">{{actor.healthBoxes.takenOut.name}}</div>
    <div class="big icons">{{{toHealthBoxes actor.healthBoxes.takenOut}}}</div>
  </div>
</div>

<h2>Healthboxes V2 (iterate)</h2>
<div class="healthboxes boxed flexcol fit">
  {{#each actor.healthBoxes as |healthBox key|}}
  <div class="grid grid-2col clickable lowmargin" data-hbname="{{healthBox.name}}" id="{{key}}">
    <div class="resource-label">Test {{healthBox.name}}</div>
    <div class="big icons">{{{toHealthBoxes healthBox}}}</div>
  </div>
  {{/each}}
</div>

<h2>Skills</h2>
<div class="skills grid grid-2col-colflow fit">
  {{#each actor.skills as |skill key|}}
  <div class="flexcol flex-group-center rollable boxed" data-skillid="{{skill._id}}" id="{{key}}">
    <span class="resource-label"> {{skill.name}} </span>
    <span class="icons"> {{{toDots skill.data.value}}} </span>
  </div>
  {{/each}}
</div>
