<h2>Healthboxes</h2>
<div class="boxed flexcol">
  <div class="clickable bruised">
    <span class="resource-label">Bruised </span>
    <span class="icons">{{{toExtraBoxes actor.healthBoxes.bruised.extra}}}</span>
    <span class="icons">{{{toFilledBoxes actor.healthBoxes.bruised.filled}}}</span>
    <span class="icons">{{{toEmptyBoxes actor.healthBoxes.bruised.empty}}}</span>
  </div>
  <div class="clickable injured">
    <span class="resource-label">Injured </span>
    <span class="icons">{{{toExtraBoxes actor.healthBoxes.injured.extra}}}</span>
    <span class="icons">{{{toFilledBoxes actor.healthBoxes.injured.filled}}}</span>
    <span class="icons">{{{toEmptyBoxes actor.healthBoxes.injured.empty}}}</span>
  </div>
  <div class="clickable maimed">
    <span class="resource-label">Maimed </span>
    <span class="icons">{{{toExtraBoxes actor.healthBoxes.maimed.extra}}}</span>
    <span class="icons">{{{toFilledBoxes actor.healthBoxes.maimed.filled}}}</span>
    <span class="icons">{{{toEmptyBoxes actor.healthBoxes.maimed.empty}}}</span>
  </div>
</div>
