{{!-- Inspiration --}}

<div class="inspiration boxed">

  <div class="flex-parent-center-column">
    <div class="flex-parent-center-column flex-child">
      <div class="flex-child resource-label">Max Inspiration</div>
      <div class="flex-child big icons">{{{to10Dots this.actor.data.data.inspiration.max}}}</div>
    </div>
    <div class="flex-parent-center-column flex-child">
      <div class="flex-child big icons">
        <i class="clickable remove-inspiration far fa-caret-square-left"></i>
        {{{to10Boxes this.actor.data.data.inspiration.value}}}
        <i class="clickable add-inspiration far fa-caret-square-right"></i>
      </div>
      <div class="flex-child resource-label">Current Inspiration</div>
    </div>
  </div>

</div>
