<div class="flex-parent-evenly">
  <div class="flex-child-even">

    <div class="quantum grid grid-1col no-top-margin">
      {{#each actor.quantum as |quantum key|}}
      <div class="flexcol flex-group-center boxed item can-hide" data-item-id="{{quantum._id}}">
        <span class="resource-label clickable item-edit"> {{quantum.name}} </span>
        <span class="icons rollable" data-itemid="{{quantum._id}}" id="{{quantum._id}}"> {{{toDots quantum.data.value}}} </span>
      </div>
      <div class="flexcol flex-group-center boxed item edit-area can-hide hidden" data-itemid="{{quantum._id}}">
        <span class="resource-label clickable item-edit"> {{quantum.name}} </span>
        <div class="flex-parent-nowrap-center">
          <i class="clickable sub-value large flex-valign fas fa-minus-circle" data-itemid="{{quantum._id}}" data-target="data.value"></i>
          <input class="flex-valign short-input resource" type="number" min="0" step="1" onfocus="this.previousValue = this.value" onkeydown="this.previousValue = this.value" oninput="validity.valid || (value = this.previousValue)" id="{{quantum._id}}-value" name="data.value" value="{{data.value}}" data-dtype="Number"/>
          <i class="clickable add-value large flex-valign fas fa-plus-circle" data-itemid="{{quantum._id}}" data-target="data.value"></i>
        </div>
      </div>
      {{/each}}
    </div>


    <div class="mage boxed">
      <div class="flex-parent-center-column">
        <div class="flex-child resource-label">Max Willpower</div>
        <div class="flex-child big icons can-hide">{{{to10Dots this.actor.data.data.willpower.max}}}</div>
        <div class="flex-parent-nowrap-center edit-area can-hide hidden">
          <i class="clickable sub-value large flex-valign fas fa-minus-circle" data-target="data.willpower.max"></i>
          <input class="flex-valign short-input resource" type="number" min="0" step="1" onfocus="this.previousValue = this.value" onkeydown="this.previousValue = this.value" oninput="validity.valid || (value = this.previousValue)" id="maxInsp-value" name="data.willpower.max" value="{{data.data.willpower.max}}" data-dtype="Number"/>
          <i class="clickable add-value large flex-valign fas fa-plus-circle" data-target="data.willpower.max"></i>
        </div>
      </div>
      <div class="flex-parent-center-column">
        <div class="flex-child big icons">
          <i class="clickable sub-value far fa-caret-square-left" data-target="data.willpower.value"></i>
          {{{to10Boxes this.actor.data.data.willpower.value}}}
          <i class="clickable add-value far fa-caret-square-right" data-target="data.willpower.value"></i>
        </div>
        <div class="flex-child resource-label">Current Willpower</div>
      </div>
      <!--
      <hr>
      <div class="flex-parent-center-column flex-child">
        <div class="flex-parent-nowrap-center">
          <i class="clickable sub-value large flex-valign fas fa-minus-circle" data-target="data.quintessence.value"></i>
          <input class="flex-valign short-input resource" type="number" min="0" step="1" onfocus="this.previousValue = this.value" onkeydown="this.previousValue = this.value" oninput="validity.valid || (value = this.previousValue)" id="quantumPointsMax-value" name="data.quintessence.value" value="{{this.actor.data.data.quintessence.value}}" data-dtype="Number"/>
          <i class="clickable add-value large flex-valign fas fa-plus-circle" data-target="data.quintessence.value"></i>
        </div>
        <div class="flex-child resource-label">Quintessence</div>
      </div>
      <hr>
      <div class="flex-parent-center-column flex-child">
        <div class="flex-parent-nowrap-center">
          <i class="clickable sub-value large flex-valign fas fa-minus-circle" data-target="data.paradox.value"></i>
          <input class="flex-valign short-input resource" type="number" min="0" step="1" onfocus="this.previousValue = this.value" onkeydown="this.previousValue = this.value" oninput="validity.valid || (value = this.previousValue)" id="quantumPointsMax-value" name="data.paradox.value" value="{{this.actor.data.data.paradox.value}}" data-dtype="Number"/>
          <i class="clickable add-value large flex-valign fas fa-plus-circle" data-target="data.paradox.value"></i>
        </div>
        <div class="flex-child resource-label">Paradox</div>
      </div>
      -->
    </div>
    {{> "systems/trinity/templates/actor/partials/quintessence-paradox.html"}}

  </div>
  <div class="flex-child-even">
    {{!-- Quantum Powers as Spheres item Box --}}
    <ol class="items-list boxed no-top-margin">
        <li class="item flexrow item-header">
          <div class="big item-name">Spheres</div>
          <div class="item-dots"></div>
          <div class="item-controls">
            <a class="item-control item-create" title="Create item" data-type="quantumPower"><i class="far fa-plus-square"></i></a>
          </div>
        </li>
    {{#each actor.quantumPowers as |item id|}}
        <li class="item sub flexcol" data-item-id="{{item._id}}">
          <div class="flexrow">
            {{#if item.data.modePowers}}
            <i class="flex-fit flex-valign far fa-caret-square-down show-detail clickable"></i>{{else}}<i class="flex-fit flex-valign far fa-square"></i>
            {{/if}}
            <h4 class="flex-fit item-name item-edit clickable">
              {{item.name}}
            </h4>
            <div>
              {{#if item.data.flags.hasRoll}}{{{createChip item._id ../actor}}}{{/if}}
            </div>
            <div class="item-dots small icons rollable" id="{{item._id}}">{{#if item.data.flags.hasDots}}{{{toDots item.data.value}}}{{/if}}</div>
            <div class="item-controls">
                <a class="item-control item-chat" title="Output Description to Chat"><i class="far fa-comment-dots"></i></a>
                <a class="item-control item-delete" title="Delete Item"><i class="far fa-minus-square"></i></a>
            </div>
          </div>
          <div class="flexcol sub-item-detail smaller hidden">
            {{#each item.data.modePowers as |subItem id|}}
            <div class="">
              <div class="flexrow sub-item" data-item-id="{{subItem.id}}">
                <!-- <i class="flex-fit flex-valign far fa-caret-square-down show-detail clickable"></i> -->
                {{#if subItem.description}}
                <i class="flex-fit flex-valign far fa-caret-square-down show-detail clickable"></i>{{else}}<i class="flex-fit flex-valign far fa-square"></i>
                {{/if}}
                <div>{{subItem.name}}</div>
                <div class="item-controls">
                  <a class="item-control sub-item-chat" title="Output Description to Chat"><i class="far fa-comment-dots"></i></a>
                  </div>
                </div>
              <div class="hidden">{{{subItem.description}}}</div>
              </div>
            {{/each}}
            </div>
        </li>
    {{/each}}
    </ol>
    <div class="boxed">
      <div class="flex-parent">
        <label class="flex-left left-label" for="tradition">Tradition:</label>
          <input class="flex-child-fit right-text" id="tradition" name="data.tradition" type="text" value="{{actor.data.data.tradition}}"/>
      </div>
      <div class="flex-parent">
        <label class="flex-left left-label" for="virtues">Virtues:</label>
          <input class="flex-child-fit right-text" id="virtues" name="data.virtues" type="text" value="{{actor.data.data.virtues}}"/>
      </div>
      <div class="flex-parent">
        <label class="flex-left left-label" for="vices">Vices:</label>
          <input class="flex-child-fit right-text" id="vices" name="data.vices" type="text" value="{{actor.data.data.vices}}"/>
      </div>
      <div class="flex-parent">
        <label class="flex-left left-label" for="nature">Nature:</label>
          <input class="flex-child-fit right-text" id="nature" name="data.nature" type="text" value="{{actor.data.data.nature}}"/>
      </div>
      <div class="flex-parent">
        <label class="flex-left left-label" for="demeanor">Demeanor:</label>
          <input class="flex-child-fit right-text" id="demeanor" name="data.demeanor" type="text" value="{{actor.data.data.demeanor}}"/>
      </div>
      <div class="flex-parent">
        <label class="flex-left left-label" for="paradigm">Paradigm:</label>
          <input class="flex-child-fit right-text" id="paradigm" name="data.paradigm" type="text" value="{{actor.data.data.paradigm}}"/>
      </div>
      <div class="flex-parent">
        <label class="flex-left left-label" for="essence">Essence:</label>
          <input class="flex-child-fit right-text" id="essence" name="data.essence" type="text" value="{{actor.data.data.essence}}"/>
      </div>
      <div class="flex-parent">
        <label class="flex-left left-label" for="avatar">Avatar:</label>
          <input class="flex-child-fit right-text" id="avatar" name="data.avatar" type="text" value="{{actor.data.data.avatar}}"/>
      </div>
    </div>
  </div>
</div>
