{{!-- Nova Info --}}

<div class="quantum boxed">

  <div class="flex-parent-center-column">
    <div class="flex-parent-center-column flex-child">
      <div class="flex-child resource-label">Quantum Rating {{this.actor.data.data.quantum.rating}}</div>
      <div class="flex-child big icons">
        <i class="clickable sub-value far fa-caret-square-left" data-target="data.quantum.rating"></i>
        {{{to10Dots this.actor.data.data.quantum.rating}}}
        <i class="clickable add-value far fa-caret-square-right" data-target="data.quantum.rating"></i>
      </div>
    </div>
    <div class="flex-parent-center-column flex-child">
      <div class="flex-child big icons">
        <i class="clickable sub-value far fa-caret-square-left" data-target="data.flux"></i>
        {{{to10Boxes this.actor.data.data.flux}}}
        <i class="clickable add-value far fa-caret-square-right" data-target="data.flux"></i>
      </div>
      <div class="flex-child resource-label">Flux</div>
    </div>
    <div class="flex-parent-center-column flex-child">
      <div class="flex-child big icons">
        <i class="clickable sub-value far fa-caret-square-left" data-target="data.transcendence"></i>
        {{{to10Boxes this.actor.data.data.transcendence}}}
        <i class="clickable add-value far fa-caret-square-right" data-target="data.transcendence"></i>
      </div>
      <div class="flex-child resource-label">Transcendence</div>
    </div>
  </div>

</div>

{{!-- Quantum Powers item Box --}}
<ol class="items-list boxed">
    <li class="item flexrow item-header">
      <div class="big item-name">Modes</div>
      <div class="item-dots"></div>
      <div class="item-controls">
        <a class="item-control item-create" title="Create item" data-type="quantumPower"><i class="far fa-plus-square"></i></a>
      </div>
    </li>
{{#each actor.modes as |item id|}}
    <li class="item flexrow" data-item-id="{{item._id}}">
        <h4 class="item-name item-edit clickable">
          {{item.name}}
          {{#if item.data.flags.isInjury}}<span><i class="fas fa-user-injured"></i></span>{{/if}}
        </h4>
        <div class="item-dots small icons">{{#if item.data.flags.hasDots}}{{{toDots item.data.value}}}{{/if}}</div>
        <div class="item-controls">
            <a class="item-control item-chat" title="Output Description to Chat"><i class="far fa-comment-dots"></i></a>
            <a class="item-control item-delete" title="Delete Item"><i class="far fa-minus-square"></i></a>
        </div>
    </li>
{{/each}}
</ol>
