{{!-- Saved Rolls Partial - Read-Only --}}

<h2>Saved Rolls</h2>
<div class="saved-rolls grid grid-4col">
  {{#each data.data.savedRolls as |roll key|}}
  <div class="boxed" id="{{key}}">
    <div class="flexcol flex-group-center rollable saved-roll">
      <span class="resource-label"> {{roll.name}} </span>
      <!-- <span class="icons"> {{{toDots roll.value}}} </span>
      <span class="small-note"> {{roll.approach}} - {{savedroll.arena}} </span> -->
    </div>
    <div class="flex-group-center">
      <span class="flex-left small-note">
        {{roll.dice}}d+{{roll.enh}}e
      </span>
      <i class="flex-right far fa-minus-square roll-delete clickable"></i>
    </div>
  </div>
  {{/each}}
</div>
