{{!-- Saved Rolls Partial - Read-Only --}}

<h2>Saved Rolls</h2>
<label class="resource-label" for="selectDIRoll">Default Initiative Roll: </label>
<select id="selectDIRoll" name="data.initiativeRollID" data-dtype="String">
  {{#select data.data.initiativeRollID}}
  <option value="">None Selected</option>
  {{#each this.actor.data.data.savedRolls as |iRoll key|}}
    <option value="{{iRoll}}">{{{iRoll.name}}}</option>
  {{/each}}
  {{/select}}
</select>
<hr>
<div class="saved-rolls grid grid-4col">
  {{#each data.data.savedRolls as |roll key|}}
    <div class="flexcol flex-group-center boxed" id="{{key}}">
      <div class="resource-label rollable saved-roll" data-rollID="{{key}}"> {{roll.name}} </div>
      <div class="flexcol flex-parent-wide">
        <div class="flex-child left-vcenter small-note">
          <b>{{roll.diceTotal}}</b><i class="small fas fa-dice"></i>&nbsp;+&nbsp;<b>{{roll.enhaTotal}}</b><i class="small fas fa-hashtag"></i>
        </div>
        <i class="flex-child right-vcenter far fa-minus-square roll-delete clickable" data-rollID="{{key}}"></i>
      </div>
    </div>
  {{/each}}
</div>
