{{log "Overview, This:" this}}
<!--
<h2>Momentum</h2>
<div class="grid grid-3col">
  <div class="">
    <label for="current-momentum" class="resource-label"> Current Momentum </label>
    <input type="number" min="0" step="1" onfocus="this.previousValue = this.value" onkeydown="this.previousValue = this.value" oninput="validity.valid || (value = this.previousValue)" id="current-momentum" name="momentum.current" value="{{momentum.current}}" data-dtype="Number"/>
  </div>
  <div class="">
    <label for="spent-momentum" class="resource-label"> Spent Momentum </label>
    <input type="number" min="0" step="1" onfocus="this.previousValue = this.value" onkeydown="this.previousValue = this.value" oninput="validity.valid || (value = this.previousValue)" id="spent-momentum" name="momentum.spent" value="{{momentum.spent}}" data-dtype="Number"/>
  </div>
  <div class="">
    <label for="max-momentum" class="resource-label"> Max Momentum </label>
    <input type="number" min="0" step="1" onfocus="this.previousValue = this.value" onkeydown="this.previousValue = this.value" oninput="validity.valid || (value = this.previousValue)" id="max-momentum" name="momentum.max" value="{{momentum.max}}" data-dtype="Number"/>
  </div>
</div>
-->

<h2>Characters</h2>

<div class="flex-parent flex-valign">
    <div class="button">
        <button class="btn-filter">
            <i class="fas fa-filter {{#ifEquals mode 'SHOW_ALL'}}inactive{{/ifEquals}}"></i>
            {{#ifEquals mode 'SHOW_VISIBLE' }}<i class="fas fa-eye"></i>{{/ifEquals}}
            {{#ifEquals mode 'SHOW_HIDDEN' }}<i class="fas fa-eye-slash"></i>{{/ifEquals}}
        </button>
    </div>
    <div class="bold">Name</div>
</div>

{{#each actors as | actor | }}
  <div class="boxed">
    <div class="flex-parent flex-valign">
        <div class="button">
            <button class="btn-toggle-visibility" data-actor="{{actor.id }}">
                {{#if actor.isHidden }}<i class="value fas fa-eye-slash"></i>{{else}}<i
                    class="value fas fa-eye"></i>{{/if}}
            </button>
        </div>
        <div class="text">{{ actor.name }}</div>
    </div>
    <div class="flex-parent">
      <label class="flex-child-fit" for="{{actor.id}}-sta1">{{actor.aspirations.shortTerm1.name}}:</label>
      <input class="flex-child-fit" type="text" id="{{actor.id}}-sta1" name="actor.aspirations.shortTerm1.value" value="{{actor.aspirations.shortTerm1.value}}" data-dtype="String"/>
      <input class="flex-child-fit" type="checkbox" id="{{actor.id}}-sta1-complete" name="actor.aspirations.shortTerm1.complete" value="{{actor.aspirations.shortTerm1.complete}}" data-dtype="Boolean" {{checked actor.aspirations.shortTerm1.complete}}/>
    </div>
{{/each}}
