<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img class="profile-img" src="{{actor.data.token.img}}" data-edit="token.img" title="{{actor.name}}" height="50" />
        <div class="header-fields charname">
            <h1>{{actor.name}}</h1>
        </div>
        <div class="header-fields flex-right">
            <i class="x-large clickable edit-button fas fa-unlock can-hide"></i>
            <i class="x-large clickable edit-button fas fa-lock can-hide hidden"></i>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Description</a> {{!-- Bio, Aspirations, Details, Contacts, Bonds --}}
        <a class="item" data-tab="main">Main</a>
        {{#if actor.data.data.flags.isTalent}}<a class="item" data-tab="talent">Talent</a>{{/if}}
        {{#if actor.data.data.flags.isPsion}}<a class="item" data-tab="psion">Psion</a>{{/if}}
        {{#if actor.data.data.flags.isNova}}<a class="item" data-tab="nova">Nova</a>{{/if}}
        <a class="item" data-tab="background">Background</a> {{!-- Edges, Specialties, Tricks --}}
        <a class="item" data-tab="equip">Equipment</a> {{!-- Gear, Weapons, Armor, Vehicles --}}
        {{#if options.configTab}}<a class="item" data-tab="data-entry">Configure</a>{{/if}}
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Biography Tab --}}
        <div class="tab biography" data-group="primary" data-tab="description">
          {{> "systems/trinity/templates/actor/partials/bio.html"}}
          {{> "systems/trinity/templates/actor/partials/character.html"}}
          {{> "systems/trinity/templates/actor/partials/contacts.html"}}
          {{> "systems/trinity/templates/actor/partials/bonds.html"}}
          <!--  {{editor content=data.biography target="data.biography" button=true owner=owner editable=editable}} -->
        </div>

        {{!-- "Main" Tab --}}
        <div class="tab main" data-group="primary" data-tab="main">
            {{!-- Partials go here --}}
            {{> "systems/trinity/templates/actor/partials/saved-rolls.html"}}
            {{> "systems/trinity/templates/actor/partials/skills.html"}}
            {{> "systems/trinity/templates/actor/partials/attributes.html"}}
            <div class="flex-parent-evenly">
              <div class="flex-child-even">
                {{> "systems/trinity/templates/actor/partials/healthboxes.html"}}
                {{> "systems/trinity/templates/actor/partials/defense.html"}}
              </div>
              <div class="flex-child-even">{{> "systems/trinity/templates/actor/partials/conditions.html"}}</div>
            </div>
        </div>

        {{!-- Talent Tab --}}
        <div class="tab talent" data-group="primary" data-tab="talent">
          {{> "systems/trinity/templates/actor/partials/talent.html"}}
        </div>

        {{!-- Psion Tab --}}
        <div class="tab psion" data-group="primary" data-tab="psion">
          {{> "systems/trinity/templates/actor/partials/psi.html"}}
        </div>

        {{!-- Nova Tab --}}
        <div class="tab nova" data-group="primary" data-tab="nova">
          {{> "systems/trinity/templates/actor/partials/nova.html"}}
        </div>

        {{!-- Background Tab --}}
        <div class="tab background" data-group="primary" data-tab="background">
          {{> "systems/trinity/templates/actor/partials/specialties.html"}}
          {{> "systems/trinity/templates/actor/partials/edges.html"}}
          {{> "systems/trinity/templates/actor/partials/tricks.html"}}
          {{> "systems/trinity/templates/actor/partials/paths.html"}}
          {{> "systems/trinity/templates/actor/partials/stunts.html"}}
        </div>

        {{!-- Equipment Tab --}}
        <div class="tab equip" data-group="primary" data-tab="equip">
          {{> "systems/trinity/templates/actor/partials/weapons.html"}}
          {{> "systems/trinity/templates/actor/partials/armors.html"}}
          {{> "systems/trinity/templates/actor/partials/gear.html"}}
          {{> "systems/trinity/templates/actor/partials/vehicles.html"}}
          {{> "systems/trinity/templates/actor/partials/unflagged.html"}}
        </div>

        {{!-- Data Entry Tab --}}
        <div class="tab data-entry" data-group="primary" data-tab="data-entry">
          {{> "systems/trinity/templates/actor/partials/full-data.html"}}
          {{> "systems/trinity/templates/actor/partials/all-items.html"}}
        </div>

    </section>
</form>
