<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="50" />
        <div class="header-fields">
            <h1>{{actor.name}}</h1>
        </div>
    </header>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
      {{> "systems/trinity/templates/actor/partials-npc/npc-attributes.html"}}
      {{> "systems/trinity/templates/actor/partials-npc/npc-stats.html"}}
    </section>
</form>
