<form class="{{cssClass}} flexcol" autocomplete="off">

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{log "MyItem" this}}
    <div class="rollprompt grid grid-2col">

      <div class="attr-edit flexrow flex-group-center"><!-- Change the div class back to attr once it becomes a non-editable element-->
        <input type="number" id="attr" value="{{this.roll.attr}}" data-dtype="Number"/>
      </div>
      <div class="attr flexrow flex-group-center">
        <label for="attr" id="attr-label" class="resource-label clickable attr-label">
          Attribute Name {{this.elements.attr.name}}
        </label>
      </div>

      <div class="skil-edit flexrow flex-group-center">
        <input type="number" id="skil" value="{{this.roll.skil}}" data-dtype="Number"/>
      </div>
      <div class="skil flexrow flex-group-center">
        <label for="skil" class="resource-label clickable skil-label">
          Skill Name {{this.roll.skilname}}
        </label>
      </div>

      <div class="enha-edit flexrow flex-group-center">
        -
        <input type="number" id="enha" value="{{this.roll.enha}}" data-dtype="Number"/>
        +
      </div>
      <div class="enha flexrow flex-group-center">
        <label for="enha" class="resource-label clickable enha-label">
          Enhancement Sources {{this.roll.skilname}}
        </label>
      </div>

    </div>
  </section>
</form>
