{{!-- NPC Stats Partial --}}
<div class="boxed flex-parent-evenly">
  <div class="flex-child flex-parent-center-column">
    <div class="resource-label">Enhancements</div>
    <div class="big bold">{{actor.data.enhancements.value}}</div>
  </div>
  <div class="flex-child flex-parent-center-column">
    <div class="resource-label">Defense</div>
    <div class="big bold">{{actor.data.defense.value}}</div>
  </div>
  <div class="flex-child flex-parent-center-column">
    <div class="resource-label">Health</div>
    <div class="big bold">To be implemented</div>
  </div>
  <div class="flex-child flex-parent-center-column">
    <div class="resource-label">Edge Dots</div>
    <div class="big bold">{{actor.data.edgeDots.value}}</div>
  </div>
  <div class="flex-child flex-parent-center-column">
    <div class="resource-label">Source</div>
    <div class="big bold">{{actor.data.source.value}}</div>
  </div>
  <div class="flex-child flex-parent-center-column">
    <div class="resource-label">Anomaly Powers</div>
    <div class="big bold">{{actor.data.anomalyPowers.value}}</div>
  </div>
</div>
