<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Description</a>
        <a class="item" data-tab="attributes">Attributes</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
        </div>

        {{!-- Attributes Tab --}}
        <div class="tab attributes" data-group="primary" data-tab="attributes">
            {{!-- As you add new fields, add them in here! --}}
            <label for="data.flags.isInjury" class="resource-label">Injury Flag</label>
            <input type="checkbox" name="data.flags.isInjury" value="{{data.flags.isInjury}}" data-dtype="Boolean" {{data.flags.isInjury}}/>
            {{#if data.flags.isInjury}}
            <div class="resource">
              <label class="resource-label">Injury Value</label>
                <input type="input" name="data.injury.value" value="{{data.injury.value}}" data-dtype="Number"/>
            </div>
            {{/if}}
            <hr>

            <input type="checkbox" name="data.enhancement.isEnhancement" value="{{data.enhancement.isEnhancement}}" data-dtype="Boolean" {{checked data.enhancement.isEnhancement}}/>
            <div class="grid">
              <div class="resource">
                <label class="resource-label">Enhancement Value</label>
                  <input type="input" name="data.enhancement.value" value="{{data.enhancement.value}}" data-dtype="Number"/>
              </div>
              <div class="resource">
                <label class="resource-label">Enhancement Condition</label>
                  <input type="input" name="data.enhancement.relevance" value="{{data.enhancement.relevance}}" data-dtype="Number"/>
              </div>
            </div>
        </div>
    </section>
</form>
