{{log "ACTION sheet logging, this:" this}}
<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
      <div class="header-fields">
        {{! Tabs/Traits at top }}
        {{> "systems/trinity/templates/item/partials/top-traits.html"}}
        <h1 class="itemname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
        {{! Primary Value(s) }}
        {{> "systems/trinity/templates/item/partials/primary-value.html"}}
      </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Description</a>
        {{#if item.data.data.stunts}}<a class="item" data-tab="stunts">Stunts</a>{{/if}}
        {{#if item.data.data.tags}}<a class="item" data-tab="tags">Tags</a>{{/if}}
        <a class="item" data-tab="attributes">Attributes</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            {{editor content=data.data.description target="data.description" button=true owner=owner editable=editable}}
        </div>

        {{!-- Stunts Tab --}}
        <div class="tab stunts" data-group="primary" data-tab="stunts">
          {{> "systems/trinity/templates/item/partials/stunt-list.html"}}
        </div>

        {{!-- Tags Tab --}}
        <div class="tab tags" data-group="primary" data-tab="tags">
          {{> "systems/trinity/templates/item/partials/tag-list.html"}}
        </div>

        {{!-- Attributes Tab --}}
        <div class="tab attributes" data-group="primary" data-tab="attributes">

            {{!-- The dots flag should be able to be removed from this section once all items are migrated to current templates --}}
            <div class="boxed fit">
              <div class="left-vcenter">
                <input class="left-vcenter" type="checkbox" name="data.flags.hasDots" value="{{data.data.flags.hasDots}}" data-dtype="Boolean" {{checked data.data.flags.hasDots}}/>
                <label class="resource-label left-vcenter" for="data.flags.hasDots">Dots</label>
              </div>
            </div>

            {{> "systems/trinity/templates/item/partials/enhancement-flag.html"}}
            {{> "systems/trinity/templates/item/partials/complication-flag.html"}}
            {{> "systems/trinity/templates/item/partials/roll-flag.html"}}


        </div>
    </section>
</form>
